<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.shop.mapping.SysUserMapper" >
	
	<!--映射数据库字段 ,column数据库字段，property实体类属性 -->
	<resultMap type="org.andy.shop.model.User" id="UserResultMap">    
	    <id column="id" property="id"/>    
	    <result column="user_name" property="userName"/>    
	    <result column="pass_word" property="passWord"/>
	    <result column="name" property="name"/>
	    <result column="is_deleted" property="isDeleted"/>
	    <result column="create_time" property="createTime"/>
	</resultMap>
   
  	 <!--  查询所有用户list-->
	<select id="getAllUsers"  resultMap="UserResultMap">    
	      select * from sys_user
	</select> 
	
	<!-- 根据用户名userName，查询用户 -->
	<select id="getUserByUserName" resultMap="UserResultMap" parameterType="java.lang.String" >  
	    SELECT * FROM sys_user  WHERE user_name = #{userName}
 	</select>  
 	
</mapper>