<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.shop.mapping.cart.ProdStockMapper">
 
  <resultMap id="BaseResultMap" type="org.andy.shop.model.cart.vo.ProdStockVo">

	  <id column="id" property="id" jdbcType="BIGINT"/>
	  <result column="pm_info_id" property="pmInfoId"  jdbcType="BIGINT"/>
	  <result column="pm_color" property="pmColor"  jdbcType="VARCHAR"/>
	  <result column="pm_size" property="pmSize"  jdbcType="INTEGER"/>
	  <result column="real_stock_num" property="realStockNum"  jdbcType="BIGINT"/>
	  <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP"/>
	  <result column="pm_price" property="pmPrice"  jdbcType="DECIMAL"/>

  </resultMap>
 
  <sql id="Base_Column_List">
    id, product_code, product_name, quality_period, is_deleted, create_time, update_time,pm_price
  </sql>
  

</mapper>